@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "PT Sans", serif;
  font-weight: 400;
  font-style: normal;
}

@layer components {
  .btn {
    @apply bg-[#f8f9fa] rounded-md text-sm text-gray-800 hover:ring-1 hover:ring-gray-200 focus:outline-none active:ring-gray-300 hover:shadow-md w-36 h-10 transition-shadow;
  }

  .link {
    @apply hover:underline cursor-pointer;
  }

  .header-icon{
    @apply bg-transparent hover:bg-gray-200 p-2 text-4xl rounded-full cursor-pointer
  }
}

@layer utilities {
  .btn-primary {
    @apply bg-blue-500 text-white;
  }

  .btn-secondary {
    @apply bg-gray-500 text-white;
  }
}
hr{
  border-top: 1px solid #e9ecef;
}